NFT_COLLECTION_SLUG=dragon
NFT_COLLECTION_NAME=Dragon
NFT_COLLECTION_SYMBOL=DRGN
NFT_COLLECTION_GLOBAL_SUPPLY_CAP=333
NFT_COLLECTION_MAX_SUPPLY=333
NFT_COLLECTION_USD_PRICE=8.9
NFT_COLLECTION_CLASH_USD_PRICE=5
NFT_COLLECTION_SOLANA_SKR_USD_PRICE=7.9
NFT_COLLECTION_SHOP_SALE_ACTIVE=0

NFT_DRAGON_ROYALTY_RECEIVER=0xC024884ad9C5540996492Cc2DD080964941A3094
NFT_DRAGON_ROYALTY_BPS=250
NFT_DRAGON_QUOTE_SIGNER=0x1EC28Cf035443A703a943bEC2C19c3CA083b7828

NFT_DRAGON_BASE_TOKEN_URI=https://clashofperps.fun/api/nft/dragon/base/
NFT_DRAGON_BASE_CONTRACT_URI=https://clashofperps.fun/api/nft/dragon/base/contract
NFT_DRAGON_ARBITRUM_TOKEN_URI=https://clashofperps.fun/api/nft/dragon/arbitrum/
NFT_DRAGON_ARBITRUM_CONTRACT_URI=https://clashofperps.fun/api/nft/dragon/arbitrum/contract
NFT_DRAGON_MONAD_TOKEN_URI=https://clashofperps.fun/api/nft/dragon/monad/
NFT_DRAGON_MONAD_CONTRACT_URI=https://clashofperps.fun/api/nft/dragon/monad/contract
NFT_DRAGON_INK_TOKEN_URI=https://clashofperps.fun/api/nft/dragon/ink/
NFT_DRAGON_INK_CONTRACT_URI=https://clashofperps.fun/api/nft/dragon/ink/contract

NFT_DRAGON_SOLANA_COLLECTION_URI=https://clashofperps.fun/api/nft/dragon/solana/collection
NFT_DRAGON_SOLANA_HIDDEN_URI=https://clashofperps.fun/api/nft/dragon/solana/hidden
NFT_DRAGON_SOLANA_ITEM_URI_BASE=https://clashofperps.fun/api/nft/dragon/solana/

NFT_DRAGON_BASE_USDC_TOKEN=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
NFT_DRAGON_BASE_CLASH_TOKEN=0xd8Db4C337d09Da8d7ceb7d87ADFE224D17785ba3
NFT_DRAGON_ARBITRUM_USDC_TOKEN=0xaf88d065e77c8cC2239327C5EDb3A432268e5831
NFT_DRAGON_MONAD_USDC_TOKEN=0x754704Bc059F8C67012fEd69BC8A327a5aafb603
NFT_DRAGON_INK_USDC_TOKEN=0x2D270e6886d130D724215A266106e6832161EAEd

NFT_DRAGON_SOLANA_TREASURY=4dJVN3sQSCjeypkc8knCaRQmeT68upDQwZY7a9s8qjHA
NFT_DRAGON_SOLANA_SKR_MINT=SKRbvo6Gf7GondiT3BbTfuRDPqLWei4j2Qy2NPGZhW3
NFT_DRAGON_SOLANA_CLASH_MINT=9mM1Mc4Ta9UJJ32v5qsHef91PiXi7EWyiSsqF5WXpump
